& > ul {
	.dropdown {
		&:hover {
			> a span.toggle {
				transform: rotate(-180deg);
			}

			> ul {
				visibility: visible;
				opacity: 1;
				top: 100%;
			}

			.dropdown {
				&:hover {
					> ul {
						visibility: visible;
						opacity: 1;
						top: 0;
					}
				}
			}
		}
	}

	.dropdown-mega {
		&:hover {
			.dropdown-mega-container {
				visibility: visible;
				opacity: 1;
				top: 100%;
			}

			> a span.toggle {
				transform: rotate(-180deg);
			}
		}
	}
}