/**
*--------------------------------------------------------------------------
* Модуль: VGNav
* Автор: Vegas DEV
* Лицензия: смотри LICENSE.md
*--------------------------------------------------------------------------
**/

@import "./option/variables";
@import "./option/breakpoints";
@import "./option/mixin";

:root {
	@include mix-vars('nav', $nav-map, $prefix);
}

.vg-nav-container {
	position: relative;
	z-index: var(--vg-nav-z-index);
	width: var(--vg-nav-width);

	.vg-nav-wrapper {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;

		// todo
		li {
			ul, div {
				display: none;
			}

			/** set toggle **/
			@import "toggle";

			&.show {
				.toggle {
					.default {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	/** set placement **/
	@import "placement";
}