@media (min-width: 1336px) {
	.container {
		max-width: 80%;
	}
}
@media (max-width: 1190px){
	h2 {
		font-size: 1.5rem;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 90%;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 90%;
	}
	h2 {
		font-size: 2rem;
	}
}
@media (max-width: 412px) {
	.container {
		max-width: 100%;
	}
	h2 {
		font-size: 1.5rem;
	}
	.pb-5, .py-5 {
		padding-bottom: 1rem!important;
	}

	.pt-5, .py-5 {
		padding-top: 1rem!important;
	}
}

