body {
	background: #cccccc;
	color: #232323;
	font-family: Roboto, sans-serif;
}

ul, ol {
	list-style: none;
	padding-left: 15px;
}

.wrapper {
	width: 95%;
	margin: 15px auto;
	background: #ffffff;
	background-size: cover;
	padding: 0;
	position: relative;
	box-shadow: 0 0 6px rgba(0, 0, 0, .25);
}

.wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .95);
	z-index: 0;
}

.container {
	max-width: 100%;
	position: relative;
	z-index: 1;
}

.header {
	border-bottom: 1px solid #dddddd;
}

.header .logo {
	position: relative;
	z-index: 2;
	padding: 20px 0;
	text-align: center;
}

.header .navigation {
	text-transform: capitalize;
}

.content {
	padding: 40px 0;
}

.content p, .footer p {
	margin-bottom: 0;
}

.main-links {
	margin: 20px 0 0 0;
	padding: 0;
}

.main-links li {
	list-style: none;
	font-size: 14px;
	display: inline-block;
}

.main-links li:after {
	content: '-';
	margin: 0 0 0 5px;
}

.main-links li:last-child:after {
	display: none;
}

.footer {
	border-top: 1px solid #dddddd;
	padding: 20px 0;
	font-size: 14px;
}

@media screen and (max-width: 1024px){
	.wrapper {
		width: 100%;
		padding: 0 15px;
		margin: 0;
	}
}

@media screen and (max-width: 480px){
	h1 {
		font-size: 2rem;
	}
}
