/**
* VGNav THEME
* only css
**/

a {
	transition: all .3s ease;
}

/* main menu */
.vg-nav > ul > li {
	padding: 20px 25px;
}
.vg-nav > ul > li > a {
	font-size: 16px;
	line-height: 1.2;
	display: block;
	color: #232323;
	text-decoration: none;
	background-color: white;
}

.vg-nav > ul > li.active a, .vg-nav > ul > li a:hover {
	color: #236da9;
}

.vg-nav .dropdown ul {
	background: rgba(255, 255, 255, .9);
	box-shadow: 0 4px 7px rgba(0, 0, 0, .15);
}

.vg-nav .dropdown ul li a {
	text-decoration: none;
	font-size: 14px;
	display: block;
	padding: 15px;
	color: #232323;
	border: 1px solid rgba(0, 0, 0, .1);
	border-top: none;
}

.vg-nav .dropdown ul li:first-child a {
	border: 1px solid rgba(0, 0, 0, .1);
}

.vg-nav .dropdown ul ul {
	background: rgba(255, 255, 255, .9);
}

/* mega menu */
.vg-nav .dropdown-mega .dropdown-mega-container {
	background: rgba(255, 255, 255, .9);
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 0 4px 7px rgba(0, 0, 0, .15);
	padding: 15px;
}

/* sidebar, collapse */
.vg-nav-sidebar .vg-nav-sidebar__content {
	width: 100%;
	padding: 0 20px 20px 20px;
}

.vg-nav-collapse ul {
	width: 100%;
	padding: 20px 0;
}

.vg-nav-sidebar__content > ul > li > a,
.vg-nav-collapse > ul > li > a {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #f2f2f2;
	text-decoration: none;
	color: #333333;
}

.vg-nav-sidebar__content > ul ul,
.vg-nav-collapse > ul ul{
	background: rgba(0, 0, 0, .02);
}

.vg-nav-sidebar__content > ul ul li > a,
.vg-nav-collapse > ul ul li > a{
	display: block;
	padding: 10px;
	border-bottom: 1px solid #f5f5f5;
	text-decoration: none;
	color: #333333;
	font-size: .95rem;
}

.vg-nav-sidebar__content .dropdown-mega-container,
.vg-nav-collapse .dropdown-mega-container{
	background: rgba(0, 0, 0, .02);
	border-bottom: 1px solid #f5f5f5;
	padding: 15px;
}