$dropdown-width: 200px;

$sidebar-bg: #ffffff;
$sidebar-xl: 25%;
$sidebar-lg: 33%;
$sidebar-md: 50%;
$sidebar-sm: 75%;
$sidebar-xs: 100%;

$transition: all 0.4s ease;

$xl-device: 'only screen and (min-width: 1200px)';
$lg-device: 'only screen and (min-width: 992px) and (max-width: 1199.98px)';
$md-device: 'only screen and (min-width: 768px) and (max-width: 991.98px)';
$sm-device: 'only screen and (max-width: 767.98px)';
$xs-device: 'only screen and (max-width: 479.98px)';