@import "./option/variables";

.vg-nav {
  position: relative;
  z-index: 100;
  width: 100%;
  
  > ul:not(.vg-nav-main-container) {
	display: none;
  }
}

.vg-nav-main-container {
  padding: 0;
  margin: 0;
  display: block;
  
  li {
	list-style: none;
  }
  
  > li {
	display: inline-block;
  }
  
  span.toggle {
	transition: $transition;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: .255em;
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	transform: rotate(0);
  }
  
  .dropdown {
	position: relative;
	
	ul {
	  padding: 0;
	}
	
	> ul {
	  transition: $transition;
	  position: absolute;
	  top: 120%;
	  opacity: 0;
	  visibility: hidden;
	  width: $dropdown-width;
	  
	  .left {
		left: 0;
	  }
	  
	  .right {
		right: 0;
	  }
	  
	  ul {
		transition: $transition;
		position: absolute;
		top: 20%;
		opacity: 0;
		visibility: hidden;
		width: $dropdown-width;
	  }
	  
	  .dropdown {
		ul.left {
		  left: 100%;
		}
		
		ul.right {
		  right: 100%;
		}
		
		&.show > ul {
		  visibility: visible;
		  opacity: 1;
		  top: 0;
		}
	  }
	}
	
	&.show {
	  > ul {
		visibility: visible;
		opacity: 1;
		top: 100%;
	  }
	  
	  > a span.toggle {
		transform: rotate(-180deg);
	  }
	}
  }
  
  .dropdown-mega {
	.dropdown-mega-container {
	  transition: all 0.4s ease;
	  position: absolute;
	  top: 120%;
	  opacity: 0;
	  visibility: hidden;
	  left: 0;
	  width: 100%;
	  min-height: 300px;
	}
	
	&.show {
	  > a span.toggle {
		transform: rotate(-180deg);
	  }
	  
	  > .dropdown-mega-container {
		visibility: visible;
		opacity: 1;
		top: 100%;
	  }
	}
  }
  
  &.vg-nav-cloned {
	> li {
	  display: block;
	}
	
	.dropdown {
	  ul {
		position: relative;
		width: 100%;
		height: 0;
		
		.left, .right {
		  left: 0 !important;
		}
	  }
	  
	  &.show {
		> ul {
		  height: initial;
		}
	  }
	}
	
	.dropdown-mega {
	  .dropdown-mega-container {
		position: relative;
		height: 0;
		min-height: 0;
		top: 0;
		display: none;
	  }
	  
	  &.show {
		.dropdown-mega-container {
		  display: block;
		  height: auto;
		  top: 0;
		}
	  }
	}
  }
}

.vg-nav-hover {
  > ul {
	.dropdown {
	  &:hover {
		> a span.toggle {
		  transform: rotate(-180deg);
		}
	 
		> ul {
		  visibility: visible;
		  opacity: 1;
		  top: 100%;
		}
	 
		.dropdown {
		  &:hover {
			 > ul {
			   visibility: visible;
			   opacity: 1;
			   top: 0;
			 }
		  }
		}
	  }
	}
 
	.dropdown-mega {
	  &:hover {
		.dropdown-mega-container {
		  visibility: visible;
		  opacity: 1;
		  top: 100%;
		}
		
		> a span.toggle {
		  transform: rotate(-180deg);
		}
	  }
	}
  }
}

.vg-nav-hamburger {
  display: none;
  width: 35px;
  height: 35px;
  position: relative;
  
  span {
	cursor: pointer;
	border-radius: 2px;
	height: 3px;
	width: 35px;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	display: block;
	transition: $transition;
	transform: rotate(0);
	opacity: 1;
  }
  
  span {
	&:first-child {
	  top: 3px;
	}
	
	&:nth-child(2) {
	  top: 13px;
	}
	
	&:last-child {
	  top: 23px;
	}
  }
  
  &.show {
	span {
	  &:first-child {
		top: 13px;
		opacity: 0;
	  }
	
	  &:nth-child(2) {
		transform: rotate(45deg);
	  }
	
	  &:last-child {
		transform: rotate(-45deg);
		top: 13px;
	  }
	}
  }
}

.vg-nav-collapse {
  display: block;
  position: relative;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
  
  &.show {
	height: 100%;
	opacity: 1;
	visibility: visible;
  }
}

.vg-nav-sidebar {
  display: block;
  position: fixed;
  top: 0;
  opacity: 0;
  height: 100%;
  z-index: 9990;
  transition: $transition;
  background: $sidebar-bg;
  
  &.left {
	@media #{$xl-device} {
	  left: -#{$sidebar-xl};
	  width: $sidebar-xl;
	}
	
	@media #{$lg-device} {
	  left: -#{$sidebar-lg};
	  width: $sidebar-lg;
	}
	
	@media #{$md-device} {
	  left: -#{$sidebar-md};
	  width: $sidebar-md;
	}
	
	@media #{$sm-device} {
	  left: -#{$sidebar-sm};
	  width: $sidebar-sm;
	}
	
	@media #{$xs-device} {
	  left: -#{$sidebar-xs};
	  width: $sidebar-xs;
	}
  }
  
  &.right {
	@media #{$xl-device} {
	  right: -#{$sidebar-xl};
	  width: $sidebar-xl;
	}
	
	@media #{$lg-device} {
	  right: -#{$sidebar-lg};
	  width: $sidebar-lg;
	}
	
	@media #{$md-device} {
	  right: -#{$sidebar-md};
	  width: $sidebar-md;
	}
	
	@media #{$sm-device} {
	  right: -#{$sidebar-sm};
	  width: $sidebar-sm;
	}
	
	@media #{$xs-device} {
	  right: -#{$sidebar-xs};
	  width: $sidebar-xs;
	}
  }
  
  &.show {
	&.left {
	  left: 0 !important; // do not clear !important
	  opacity: 1;
	}
	
	&.right {
	  right: 0 !important; // do not clear !important
	  opacity: 1;
	}
  }
  
  &__close {
	position: absolute;
	font-size: 56px;
	font-weight: 300;
	top: 0;
	right: 15px;
	color: #333333;
	cursor: pointer;
  }
  
  &__content {
	margin-top: 50px;
	height: calc(100% - 60px);
	overflow-y: auto;
	overflow-x: hidden;
  }
}

.vg-nav-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  transition: $transition;
  top: 0;
  background: rgba(#333, .7);
  transition-delay: .15s;
  z-index: 9989;
  
  &.right {
	left: -100%;
	
	&.show {
	  left: 0;
	  opacity: 1;
	}
  }
  
  &.left {
	right: -100%;
	
	&.show {
	  right: 0;
	  opacity: 1;
	}
  }
}

.vg-nav-xl {
  @media #{$xl-device}, #{$lg-device}, #{$md-device}, #{$sm-device}, #{$xs-device} {
	.vg-nav-hamburger {
	  display: block;
	}
	
	> ul {
	  display: none;
	}
  }
}

.vg-nav-lg {
  @media #{$lg-device}, #{$md-device}, #{$sm-device}, #{$xs-device} {
	.vg-nav-hamburger {
	  display: block;
	}
	
	> ul {
	  display: none;
	}
  }
}

.vg-nav-md {
  @media #{$md-device}, #{$sm-device}, #{$xs-device} {
	.vg-nav-hamburger {
	  display: block;
	}
	
	> ul {
	  display: none;
	}
  }
}

.vg-nav-sm {
  @media #{$sm-device}, #{$xs-device} {
	.vg-nav-hamburger {
	  display: block;
	}
	
	> ul {
	  display: none;
	}
  }
}

.vg-nav-xs {
  @media #{$xs-device} {
	.vg-nav-hamburger {
	  display: block;
	}
	
	> ul {
	  display: none;
	}
  }
}