$prefix: vg-;

$hamburger-height: 27px;
$hamburger-line-width: 35px;
$hamburger-line-color: #333333;
$hamburger-line-height: 3px;
$hamburger-line-indent-top: 7px;

$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px,
		xxl: 1400px,
		xxxl: 1600px
);

$nav-map: (
		z-index: 100,
		width: 100%,
		transition: all 0.4s ease,
		dropdown-width: 200px
);